@import "styles/default";

#app {
  position: relative;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;

    button {
      width: 45%;
      padding: 1rem 0;
    }
  }
}
